{% extends "lil_people_elcpa/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
{% endblock %}

{% block app_content %}

  <h1>Data Description</h1>
  <hr class="solid">
<h3>This app will require a DEM, Area of Interest, Hazard Area, and other obstacle data such as roads and rivers.<br><br></h3>
<h6>All said data except the Area of Interest will be raster data. The Area of Interest will be a shapefile polygon that the user will draw/select.</h6>
       <div style="float: center; margin: 2px 2px 2px 2px; text-align: center;">

          <img src="https://raw.githubusercontent.com/bryceberrett/ELCPA-CEEn514-Lil_People/master/Input%20Data.PNG" height=600px alt="Least_Cost_Path" style="border: 1px solid #000000;">

          <figcaption>Input Data Example</figcaption>







{% endblock %}

{% block after_app_content %}
  {% endblock %}

{% block app_actions %}
  {#{% gizmo add_button %}#}
  {#{% gizmo cancel_button %}#}
{% endblock %}
