{% extends "lil_people_elcpa/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
{% endblock %}

{% block app_content %}

  <body>

  <h2>Mockups</h2>

  <div id='pic'>
  <img id='image1' src="https://raw.githubusercontent.com/izaakbc/izaakbc.github.io/master/HomePage.PNG"
       alt="Italian Trulli">

  <div id='pic'>
    <img id='image2' src="https://raw.githubusercontent.com/izaakbc/izaakbc.github.io/master/InstructionsPage.PNG"
         alt="Italian Trulli">
  </div>

  <div id='pic'>
    <img id='image3' src="https://raw.githubusercontent.com/izaakbc/izaakbc.github.io/master/MapInputPage.PNG"
         alt="Italian Trulli">
  </div>

  <div id='pic'>
    <img id='image4' src="https://raw].githubusercontent.com/izaakbc/izaakbc.github.io/master/MapOutputPage.PNG"
         alt="Italian Trulli">
  </div>

  </body>

{% endblock %}

{% block after_app_content %}
  {% endblock %}

{% block app_actions %}
  {#{% gizmo add_button %}#}
  {#{% gizmo cancel_button %}#}
{% endblock %}