{% extends "lil_people_elcpa/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
{% endblock %}

{% block app_content %}

  <h1>Meet the Team</h1>
    <div class="header">
    </div>
  <hr class="solid">

    <p class="textcenter">This app was the brainchild of 3 supremely novice web developers: Michael, Izaak, and Bryce. We developed
    this app as part of an effort to not only learn how to use html, css, and javascript, but also to earn a good grade.<br><br>
    Oftentimes, the faceless, nameless web developer behind the screen can intimidate people on the other side.
    To put the user of this site at ease, we have included a little introduction of sorts to familiarize you with the creators:
    </p>

    <div class="teamblock">
      <img align="right" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/p720x720/68306432_2095146997254222_3075349321562980352_o.jpg?_nc_cat=110&_nc_ohc=aRFZ-WddXQEAX-les8O&_nc_ht=scontent-lax3-1.xx&_nc_tp=6&oh=aad3c2ffa0b071362e032b412cbc8ede&oe=5EC2EDA1" width="320" height="240" alt="A picture of Michael and his wife in front of a baseball field"/>
      <p> <strong> Michael </strong> hails from Colorado Springs, CO and tells everyone that he loves the outdoors. When he's not studying homework, he enjoys pretending he's
      good at basketball, longing to be a more adventurous hiker, and resorting to the go-to activity of productive people: Netflix & Chill.
      Graduate school is next on the horizon ("those who can't do, go to school" or something like that).
      His favorite Dan Ames class is the current one, 514.
        <br>Contact: michaeldstevens1@gmail.com
      </p>
    </div>

    <div class="teamblock">
      <img align="right" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/27072721_2515825295222441_171066442141745260_n.jpg?_nc_cat=100&_nc_ohc=AjSviefcvVcAX-U0qRl&_nc_ht=scontent-lax3-1.xx&oh=9788d8a18c6634151b9863ce8d86b284&oe=5E97E241" width="320" height="300" alt="Izaak with his wife after a rousing temple session"/>
      <p> <strong> Izaak </strong> is originally from Henderson, NV and is obsessed with fitness. He loves to rock climb, beat his wife at racquetball (more on her later), and lift weights.
      He even eats vegetables for a daytime snack to fuel these hobbies. Yes, vegetables. For a snack. (Turns out he doesn't actually eat that healthy regularly; it was just a ruse to make us feel bad)
        His wife is also a Civil Engineering major, so you know what their dinner conversations consist of.
        Izaak also plans to pursue a graduate degree after graduation. His favorite Dan Ames class to date is 514.
      <br>Contact: izaakbc32@gmail.com
      <p/>
    </div>

    <div class="teamblock">
      <img align="right" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/s960x960/79031668_10218379629194207_8331749449114058752_o.jpg?_nc_cat=110&_nc_ohc=f5cbOy5-wA4AX_ZrMB7&_nc_ht=scontent-lax3-1.xx&oh=070e8322e42b929c5f908b13fe0b43fb&oe=5EC56A18"  width="320" height="320" alt="Bryce, just posing for the babes"/>
      <p> <strong> Bryce </strong> somehow made his way from faraway Orem, UT to BYU. Bryce is a licensed drone pilot (yes, you need a license) and loves channeling his inner Ma Long at ping pong.
      He also reads several books per day. No word yet on whether those are picture books or not.
      He intends to find a job and make lots of money immediately after graduation... Just kidding he's going to grad school like the rest of us. His favorite Dan Ames class so far has been 414.
        <br>Contact: bryceberrett@gmail.com
      </p>
    </div>

<br>
<br>


{% endblock %}

{% block after_app_content %}
  {% endblock %}

{% block app_actions %}
  {#{% gizmo add_button %}#}
  {#{% gizmo cancel_button %}#}
{% endblock %}
