p{
    text-align: left;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}


#pic{
    text-align: center;
}

#image1 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
}

#image2 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
}

#image3 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
}

#image4 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
}